#movie-result {
  background: rgb(180, 168, 217);
  border: 5px solid rgb(118, 92, 148);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(220, 173, 196);
  border: 5px solid rgb(156, 104, 119);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: rgba(65, 90, 110, 0.401);
}
